@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-color: lightseagreen;
  color:black; /* Text ko white rakhna recommended hai, taki woh blue background par visible ho */
  font-family: Arial, sans-serif;
}